<template>
  
  <li class="nav-item dropdown mr-4">

        <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown" id="notificationDropdown" href="#" data-toggle="dropdown" style="position: relative;">

            <i class="mdi mdi-bell mx-0"></i>

            <span class="count-badge"> {{notifications.length}} </span>

        </a>

        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list notification" aria-labelledby="notificationDropdown">

            <p class="mb-2 float-left dropdown-header notification-bold-main">Notifications</p>

            

            <div v-if="notifications.length == 0">

              <div class="dropdown-item preview-item">                

                <div class="preview-item-content">
                
                  <h6 class="font-weight-light mb-0 text-muted">There is no new notification</h6>

                </div>

              </div>

            </div>


            <!-- <div v-if="notifications."></div> -->

            <hr>

            <div v-for="notification in notifications">

              <div v-if="notification.type == 'App\\Notifications\\NotifyMerchantOnOrder'">
                
              
                <a class="dropdown-item preview-item" v-on:click="MarkAsRead(notification)">

                  <div class="preview-thumbnail">

                      <div class="preview-icon bg-success">

                        <i class="mdi mdi-shopping mx-0"></i>

                      </div>

                  </div>

                  <div class="preview-item-content">

                      <h5 class="preview-subject font-weight-normal">Order</h5>

                      <h6 class="font-weight-light mb-0 text-muted">user: {{notification.data.from}}</h6>
                      
                      <h6 class="font-weight-light mb-0 text-muted">Order code: {{notification.data.order_code}}</h6>

                      <p class="small-text mb-0 mt-2 notification-bold">

                        {{ notification.created_at }}

                      </p>

                  </div>

                </a>

                <hr>


              </div>

              <div v-if="notification.type == 'App\\Notifications\\NotifyMerchantOnProductReview'">
                
                <a class="dropdown-item preview-item" v-on:click="MarkAsRead(notification)">

                  <div class="preview-thumbnail">

                      <div class="preview-icon bg-danger">

                        <i class="mdi mdi-thought-bubble mx-0"></i>

                      </div>

                  </div>

                  <div class="preview-item-content">

                      <h6 class="preview-subject font-weight-normal">Product "{{notification.data.product_name}}" is reviewed</h6>

                      <p class="small-text mb-0 text-muted notification-bold">

                      {{ notification.created_at }}

                      </p>

                  </div>

                </a>

                <hr>

              </div>

              <div v-if="notification.type == 'App\\Notifications\\NotifyMerchantOnDebt'">
                

                <a class="dropdown-item preview-item" v-on:click="MarkAsRead(notification)">

                  <div class="preview-thumbnail">

                      <div class="preview-icon bg-warning">

                        <i class="mdi mdi-cash-multiple mx-0"></i>

                      </div>

                  </div>

                  <div class="preview-item-content">

                      <h5 class="preview-subject font-weight-normal">Debt Status</h5>

                      <h6 class="preview-subject font-weight-normal">Your Total Debt is {{notification.data.DebtSum}}</h6>

                      <p class="small-text mb-0 notification-bold">

                      {{ notification.created_at }}

                      </p>

                  </div>

                </a>

                <hr>

              </div>

              <div v-if="notification.type == 'App\\Notifications\\NotifyUserRegistration'">
                

                <a class="dropdown-item preview-item" v-on:click="MarkAsRead(notification)">


                  <div class="preview-thumbnail">

                      <div class="preview-icon bg-info">

                        <i class="mdi mdi-account mx-0"></i>

                      </div>

                  </div>


                  <div class="preview-item-content">

                      <h5 class="preview-subject font-weight-normal">User Registration</h5>

                      <h6 class="preview-subject font-weight-normal"><div v-if="notification.data.role == 2">{{notification.data.name}} as a Seller/Vendor</div><div v-else>{{notification.data.name}} as a customer</div> </h6>

                      <p class="small-text mb-0 notification-bold">

                      {{ notification.created_at }}

                      </p>

                  </div>

                </a>

                <hr>
                

              </div>



            </div>

        </div>

    </li>

</template>

<script>
    export default {

      props: ['notifications', 'role'],

      methods: {

        MarkAsRead: function(notification) {

          var data = {

            id: notification.id
          
          };

          axios.post('/notification/read', data)

          .then(response => {

            if (notification.type == 'App\\Notifications\\NotifyMerchantOnOrder') {

              if (this.role == 1) {
                window.location.href = "/admin/orders/" + notification.data.order_id + "/detail"
              } else if(this.role == 2) {
                window.location.href = "/vendor/orders/" + notification.data.order_id + "/detail"
              }

            } else if (notification.type == 'App\\Notifications\\NotifyMerchantOnProductReview') {

              window.location.href = "/my-reviews/" + notification.data.product_id

            } else if (notification.type == 'App\\Notifications\\NotifyMerchantOnDebt') {

              window.location.href = "/my-debt"

            } else if (notification.type == 'App\\Notifications\\NotifyUserRegistration') {

              window.location.href = '/users'

            }

          });

        }

      }
      
    }
</script>